.funfacts-title {
  margin-bottom: 30px;
  font-family: "PT Mono", monospace;
  color: #f76b8a;
}

.funfact-button {
  padding: 12px 25px;
  border: 1px solid #3ea6ff;
  border-radius: 5px;
  color: #3ea6ff;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  transition: all 300ms ease-in-out;
  background-color: #191a1f;
}

.funfact-button:hover {
  color: white;
}
