body {
  font-family: "PT Mono", monospace;
  margin: 0 auto;
  background: #fcfefe;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.navbar-toggler {
  background-color: #f76b8a;
}
.navbar {
  background: #66bfbf;
}
.navbar a {
  color: #ebf6f6;
  font-weight: bold;

  transition: 200ms all ease-in-out;
}
.navbar a:hover {
  color: #f76b8a;
}
.contact-links a {
  margin-left: 30px;
  font-size: 40px;
  color: #ebf6f6;
  text-decoration: none;
}
.contact-links a:hover {
  color: #f76b8a;
}
footer {
  padding: 30px 50px;
  margin: 0 auto;
  background: #66bfbf;
}
footer .email a {
  line-height: 1.5;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #ebf6f6;
  transition: all 200ms ease-in-out;
}
footer .email a:hover {
  color: #f76b8a;
}

footer p {
  text-align: center;
  color: #ebf6f6;
  font-weight: bold;
}
footer span a {
  color: #ebf6f6;
  transition: all 200ms ease-in-out;
}
footer span a:hover {
  color: #f76b8a;
}
