.first-section-fluid {
  padding: 50px;
  color: black;
}
.col-md-6 {
  margin-top: 50px;
}
section h1 {
  text-align: center;
  color: #66bfbf;
}
.first-section-fluid h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: #f76b8a;
}
.first-section-fluid .img-fluid {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.first-section-fluid p {
  font-family: roboto;
  line-height: 1.8;
}
.first-section-fluid a {
  text-decoration: none;
  color: #f76b8a;
  font-size: 18px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  line-height: 1.5;
  border: 1px solid #f76b8a;
  padding: 20px 30px;
  border-radius: 8px;
  background: rgba(102, 191, 191, 0.2);
  backdrop-filter: blur(10px);
}
.first-section-fluid a:hover {
  color: #66bfbf;
  border: 1px solid#66bfbf;
  background: rgba(247, 107, 138, 0.2);
}
